<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:include="fragments/header :: head">
    <meta charset="UTF-8" />
    <title>Matchpoint-Create Fee</title>
    <link rel="stylesheet" href="css/registerForm.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body id="page-top" class="index">
    <div th:include="fragments/header :: header"></div>
    <section id="registration" th:name="register">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Create Fee</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <form action="/a/fee/add" method="post" class="register-form">
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="name">Fee Name</label>
                                <input name="feeName" class="form-control" type="text" th:value="${fee.feeName}"
                                       placeholder="Fee Name" required/>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="name">Fee Description (if any)</label>
                                <input name="description" class="form-control" type="text" th:value="${fee.description}"
                                       placeholder="Description" required/>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="name">Amount</label>
                                <input name="amount" class="form-control" type="number" min="0" th:value="${fee.amount}"
                                       placeholder="Amount" required/>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-8 controls">
                                <select class="form-control" id="playerCategory" name="playerCategory" required="required">
                                    <th:block th:each="playerCategory, stat :${playerCategories}">
                                        <option data-toggle="tooltip" th:value="${playerCategory.id}"
                                                th:selected="${fee.playerCategory!=null && playerCategory.id==fee.playerCategory.id}" th:text="${playerCategory.categoryName}">Student</option>
                                    </th:block>
                                </select>
                            </div>
                        </div>
                        <input type="hidden" name="id" th:value="${fee.id}">
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <input value="Create / Update fee" type="submit" class="btn btn-success btn-lg"/>
                            </div>
                        </div>
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>