<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="fragments/header :: head" xmlns:th="http://www.w3.org/1999/xhtml"></head>
<body>
<div id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>
<!-- Footer -->
<div th:fragment="footer">
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3 data-th-bgcolor="blue">Location</h3>
                        <p>C/O Vasavi School,
                            <br>Diagnal Road,VV Puram,
                            <br>Opposite Jain College,
                            <br>Bengaluru,Karnataka 560004
                        </p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.facebook.com/GKTableTennis/" target="_blank" class="btn-social btn-outline"><span class="sr-only">Facebook</span><i
                                        class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><span class="sr-only">Google Plus</span><i
                                        class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><span class="sr-only">Twitter</span><i
                                        class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><span class="sr-only">Linked In</span><i
                                        class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><span class="sr-only">Dribble</span><i
                                        class="fa fa-fw fa-dribbble"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>About MatchPoint</h3>
                        <p>Match Point T.T. academy is a sports academy located at Uttarahalli in Bangalore. The students of this institute get trained in table tennis. For specific queries and details about fees, timings, transport facilities, admission procedure, etc
                               <br> <a href="#contact">Contact Us</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div th:fragment="copyright" class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Match Point 2017
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>
    <!-- FeedBack -->
    <div th:fragment="feedback">
        <section id="feedback">
        <h2 style="text-align: center;color: #4cae4c">What our Players say</h2>
        <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <h4>"The game and the group of friends gives me the sanctity needed to relax from the daily routine. Would
                    like to invite all Table Tennis crazy community come and play here!!!"<br>
                    <span style="font-style:normal;">-Kiran HN</span></h4>
            </div>
            <div class="item">
                <h4>"Beautiful place with very good tables, superb lighting and flooring. Would recommend this place to every serious TT enthusiast.
                    "<br><span style="font-style:normal;">-Raghavendra Pai</span></h4>
            </div>
            <div class="item">
                <h4>"Great Atmosphere to learn, professional team! Lovely.
                    "<br><span style="font-style:normal;">-Nayan Karnavat</span></h4>
            </div>
            <div class="item">
                <h4>"Super facility. Outstanding people. Keeps me challenged."<br>
                    <span style="font-style:normal;">-Rajesh Puvvada</span></h4>
            </div>
            <div class="item">
                <h4>" Been in this club for past three years.Had an amazing time on and off the Table :)"<br>
                    <span style="font-style:normal;"> -Vikas Sangam</span></h4>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
       </div> </section>
    </div>
</div></div></body>
</html>
