<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:fragment="head">

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>MatchPoint</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Theme CSS -->
    <link href="css/freelancer.min.css" th:href="@{/css/freelancer.min.css}" rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js" th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <!--jquery UI-->
`   <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
          rel = "stylesheet">
    <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js" th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js" th:src="@{/js/jqBootstrapValidation.js}"></script>
    <script src="js/contact_me.js" th:src="@{/js/contact_me.js}"></script>

    <!-- Theme JavaScript -->
    <script src="js/freelancer.min.js" th:src="@{/js/freelancer.min.js}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $( ".datepicker" ).datepicker({changeYear: true, yearRange: "-80:+0", dateFormat: 'dd/mm/yy' });
        });
    </script>

    <style>
        .ui-datepicker select.ui-datepicker-year {
            width: 49%;
            background-color: #18BC9C;
        }
    </style>
</head>

<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>

<!-- Navigation -->
<div th:fragment="header">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/">Match Point</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="/events">Events</a>
                    </li>
                    <li sec:authorize="isAnonymous()" class="page-scroll">
                        <a href="/login">Login</a>
                    </li>
                    <li sec:authorize="isAnonymous()" class="page-scroll">
                        <a href="/register">Register</a>
                    </li>
                    <li  class="page-scroll" sec:authorize="isAuthenticated()">
                        <a  data-toggle="dropdown" href="#"><span th:text="${#authentication.getPrincipal().getFirstName()}"></span><b style="margin-left: 10px;" class="caret"></b></a>
                        <ul style="background-color: #2C3E50" class="dropdown-menu">
                            <li class="page-scroll"><a href="/u/userProfile">My Profile</a></li>
                            <li class="page-scroll" ><a href="/u/changePassword">Change Password</a></li>
                        </ul>
                    </li>
                    <li sec:authorize="hasRole('ROLE_admin')" class="page-scroll">
                   <!-- <li  sec:authorize="isAuthenticated()" class="page-scroll">-->
                        <a href="/a/admin">Admin Tasks</a>
                    </li>
                    <li  class="page-scroll">
                        <a href="#contact">Contact us</a>
                    </li>
                    <li sec:authorize="isAuthenticated()"><a href="javascript: document.logoutForm.submit()">Logout</a></li>
                </ul>
                <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                    <input hidden class="glyphicon glyphicon-log-out" type="submit" value="Sign Out"/>
                </form>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</div>
</body>
</html>