<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:include="fragments/header :: head"></head>

<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>

<!-- Navigation -->
<div th:include="fragments/header :: header"></div>
<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Super Admin Portfolio</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 portfolio-item">
                <a href="/a/listUsers" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img th:src="@{/img/members.jpg}" style=max-width:50%>
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="/a/createEvent" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img th:src="@{/img/createEvent.jpg}" style=max-width:50%>
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="/a/uploadAlbum" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img th:src="@{/img/gallery-icon.png}" style=max-width:50%>
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="/a/listEvents" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img th:src="@{/img/events.png}" style=max-width:50%>
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img th:src="@{/img/portfolio/safe.png}" style=max-width:50%>
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img th:src="@{/img/portfolio/submarine.png}" style=max-width:50%>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<div th:include="fragments/footer :: footer"></div>
</body>
</html>