<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:include="fragments/header :: head">
    <meta charset="UTF-8" />
    <title>Matchpoint-Create Event</title>
    <link rel="stylesheet" href="css/registerForm.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body id="page-top" class="index">
    <div th:include="fragments/header :: header"></div>
    <section id="registration" th:name="register">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Create Playing Category</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <form action="/a/playingCategory/add" id="playingCatForm" method="post" class="register-form">
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="name">Playing Category Name</label>
                                <input name="name" class="form-control" type="text" th:value="${playingCategory.name}"
                                       placeholder="Playing Category Name" required/>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="fee">Fee</label>
                                <input name="fee" class="form-control" type="text" th:value="${playingCategory.fee}"
                                       placeholder="Fee" required/>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-8 floating-label-form-group controls">
                                <select class="form-control" id="genderType" name="genderType" placeholder="select gender type" required="required">
                                    <th:block th:each="genderType, stat :${genderTypes}">
                                        <option data-toggle="tooltip" th:value="${genderType.value}"
                                                th:selected="${(playingCategory.genderType == 0 && stat.first) || playingCategory.genderType==genderType.value}" th:text="${genderType}">MALE</option>
                                    </th:block>
                                </select>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-8 floating-label-form-group controls">
                                <select class="form-control" id="ageLimit" name="ageLimit" placeholder="select age limit" required="required">
                                        <option data-toggle="tooltip" th:each="i: ${#numbers.sequence(0, 100)}" th:value="${i}"
                                        th:selected="${playingCategory.ageLimit!=null && playingCategory.ageLimit==i}" th:text="${i}">0</option>
                                </select>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="asOnDate">As on date</label>
                                <input id="asOnDateAndMonth" class="form-control" type="text" placeholder="As on date" th:value="${playingCategory.asOnDate+'-'+playingCategory.asOnMonth}" required/>
                            </div>
                        </div>
                        <input type="hidden" name="id" th:value="${playingCategory.id}">
                        <input type="hidden" id="asOnDate" name="asOnDate" th:value="${playingCategory.asOnDate}">
                        <input type="hidden" id="asOnMonth" name="asOnMonth" th:value="${playingCategory.asOnMonth}">
                        <input name="active" type="hidden" th:value="${true}">
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <input value="Create/Update playing category" id="playingCatSubmit" type="button" class="btn btn-success btn-lg"/>
                            </div>
                        </div>
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script>
        $(document).ready(function () {
            $( "#asOnDateAndMonth" ).datepicker({changeYear: false, yearRange: "-0:+0", dateFormat: 'dd-mm' });
        })
    </script>
    <style>
        .ui-datepicker-year{
            display: none;
        }
    </style>
</body>
</html>