    <!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <head th:include="fragments/header :: head"></head>
    <body>
    <div th:include="fragments/header :: header"></div>
    <div class="container-fluid">
        <style rel="stylesheet">
            th{
                text-align: center;
            }
        </style>
        <section>
            <div class="container" id="maincontent" tabindex="2">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <h2>MatchPoint Members</h2>
                                <hr class="star-primary">
                            </div>
                        </div>
                        <br><div class="table-responsive">
                            <table style="border-style: solid;background-color:#67b168"  class="table table-hover table-inverse table-bordered" th:if="${!users.isEmpty()}">
                                <thead class="thead-inverse">
                                <tr style="color:#c7254e" align="center">
                                    <th>S.NO</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>E-mail</th>
                                    <th>Mobile</th>
                                    <th>Activity Status</th>
                                    <th>Role</th>
                                    <th>Access</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr style="color: #122b40" th:each="user,stat : ${users}">
                                    <form name="adminAccessForm" th:action="@{/a/manageRoles}" method="post">
                                        <td th:text="${stat.count}">1</td>
                                    <td th:text="${user.firstName}"></td>
                                    <td th:text="${user.lastName}"></td>
                                    <td th:text="${user.email}"></td>
                                    <td th:text="${user.mobile}"></td>
                                    <td th:text="${user.active?'Active':'InActive'}">
                                    <td><span th:each="role :${user.roles}" th:text="${role}+' '"></span></td>
                                        <td><input th:id="g" type="hidden" th:value="${user.email}" name="userEmail"/>
                                            <button type="submit" class="removebutton" name="action"
                                                    th:value="${user.roles.contains(roleAdmin)
                                                    ?'revokeAction':'grantAction'}"
                                                    th:text="${user.roles.contains(roleAdmin)
                                                    ?'Revoke Admin Access':'Grant Admin Access'}">
                                                Grant Admin Access
                                            </button>
                                        </td>
                                </form>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
    </section>
        </div>
    </body>
    </html>
