    <!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <head>
        <div th:include="fragments/header :: headMeta" th:remove="tag"></div>
        <div th:include="fragments/header :: head" th:remove="tag"></div>
        <div th:include="fragments/header :: table" th:remove="tag"></div>
        <link th:href="@{/css/admin-style.css}" rel="stylesheet"/>
        <style rel="stylesheet">
            th{
                text-align: center;
            }
        </style>
    </head>
    <body>
    <div th:include="fragments/header :: header"></div>
    <div class="container-fluid">
        <section>
            <div class="container-fluid" id="maincontent" tabindex="2">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <h2>MatchPoint Members</h2>
                                <hr class="star-primary">
                            </div>
                        </div>
                        <br>
                        <div class="table-responsive">
                            <table style="border-style: solid;background-color:#CDDC39"
                                   class="table table-hover table-inverse table-bordered" id="usersTable"
                                   data-toggle="table"
                                   data-show-export="true"
                                   data-show-columns="true"
                                   data-search="true"th:if="${!users.isEmpty()}">
                                <thead class="thead-inverse">
                                <tr style="color:#c7254e" align="center">
                                    <th>S.NO</th>
                                    <th data-field="Firstname">First Name</th>
                                    <th data-field="Lastname">Last Name</th>
                                    <th data-field="Email">E-mail</th>
                                    <th data-field="Mobile">Mobile</th>
                                    <th data-field="Gender" data-sortable="true">Gender</th>
                                    <th data-field="PlayerCategory" data-sortable="true">Player Category</th>
                                    <th data-sortable="true">Activity Status</th>
                                    <th data-sortable="true">Role</th>
                                    <th>Access</th>
                                    <th>Block/Unblock</th>
                                    <th>Payment Details</th>
                                    <th data-sortable="true">Current Month Fee Status</th>
                                    <th>Approve Details</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr style="color: #122b40" th:each="user,stat : ${users}">
                                    <form name="adminAccessForm" th:action="@{/a/manageRoles}" method="post">
                                        <td th:text="${stat.count}">1</td>
                                        <td th:text="${user.firstName}"></td>
                                        <td th:text="${user.lastName}"></td>
                                        <td th:text="${user.email}"></td>
                                        <td th:text="${user.mobile}"></td>
                                        <td th:text="${user.getGenderName(user.gender)}"></td>
                                        <td th:text="${user.playerCategory?.categoryName}"></td>
                                        <td th:text="${user.active?'Active':'Blocked'}">
                                        <td><span th:each="role :${user.roles}" th:text="${role}+' '"></span></td>
                                        <td><input th:id="g" type="hidden" th:value="${user.email}" name="userEmail"/>
                                            <button type="submit" class="removebutton" name="action"
                                                    th:value="${user.roles.contains(roleAdmin)
                                                    ?'revokeAction':'grantAction'}"
                                                    th:text="${user.roles.contains(roleAdmin)
                                                    ?'Revoke Admin Access':'Grant Admin Access'}">
                                                Grant Admin Access
                                            </button>
                                        </td>
                                        <td>
                                            <a class="btn btn-primary" th:href="${user.active?
                                            '/a/manageUser?block=true&email='+user.email:
                                            '/a/manageUser?block=false&email='+user.email}"
                                                    th:text="${user.active
                                                    ?'Block User':'Unblock User'}">
                                                Grant Admin Access
                                            </a>
                                        </td>
                                        <td th:if="${user.active}"><a class="btn btn-primary" th:href="${'/a/view-payment/'+user.id}">View / Update payment</a></td>
                                        <td th:text="${user.getCurrentMonthPayment()!=null?user.getCurrentMonthPayment().amount+'-'+user.getCurrentMonthPayment().paymentStatus:'Not Paid'}"></td>
                                        <td th:if="${!user.active}">Please Unblock First!</td>
                                        <td>
                                            <label class="switch">
                                                <input id="approveMember" th:value="${user.id}" type="checkbox" th:checked="${user.adminApproved}">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                </form>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div th:include="fragments/alertBox :: messageModal"></div>
    </body>
    </html>
