<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="fragments/header :: head"></head>
<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>
<!-- Navigation -->
<div th:include="fragments/header :: header"></div>
<section>
    <div class="container" id="maincontent" tabindex="2">
        <div class="row">
            <div class="col-lg-12">
                <h2>MatchPoint->Events list <a sec:authorize="hasRole('ROLE_admin')" th:href="@{/a/createEvent}" style="float: right" class="btn btn-info btn-lg">Create Event</a><br></h2>
                <br><div class="table-responsive">
                <table style="border-style: solid" class="table table-hover table-bordered" th:if="${!registeredEvents.isEmpty()}">
                    <thead>
                    <tr style="color:#c7254e">
                        <th>Event Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Location</th>
                        <th>Notification Date</th>
                        <th>Registration LastDate</th>
                        <th sec:authorize="isAuthenticated()">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="color: #122b40" th:each="event,stat : ${registeredEvents}">
                        <td th:text="${event.name}"></td>
                        <td th:text="${#dates.format(event.startDate,'dd-MMM-yyyy')}"></td>
                        <td th:text="${#dates.format(event.endDate,'dd-MMM-yyyy')}"></td>
                        <td th:text="${event.location}"></td>
                        <td th:text="${#dates.format(event.notificationDate,'dd-MMM-yyyy')}"></td>
                        <td th:text="${#dates.format(event.registrationLastDate,'dd-MMM-yyyy')}"></td>
                        <td sec:authorize="isAuthenticated()">Registered</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>