<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:include="fragments/header :: head"></head>

<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>

<!-- Navigation -->
<div th:include="fragments/header :: header"></div>
<!-- Header -->
<header>
    <div class="container" id="maincontent" tabindex="-1">
        <div class="row">
            <div class="col-lg-6">
                <form th:action="@{/u/payment/1}" th:object="${payment}" method="post">
                    <input type="hidden" name="product" value="1">
                    <input type="hidden" name="amount" value="750">
                    <p>Entry Fee</p>
                    <p>750</p>
                    <input type="submit" value="Pay Registry Fee" class="btn btn-lg btn-outline">
                </form>
            </div>
            <div class="col-lg-6">
                <form th:action="@{/u/payment/2}" th:object="${payment}" method="post">
                    <input type="hidden" name="product" value="2">
                    <input type="hidden" name="amount" value="1700">
                    <p>Mothly Fee(including ball fee)</p>
                    <p>1500 + 200</p>
                    <input type="submit" value="Pay Monthly Fee" class="btn btn-lg btn-outline">
                </form>
            </div>
        </div>
    </div>
</header>
<!-- Footer -->
<div th:include="fragments/footer :: footer"></div>
</body>
</html>