<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <th:block th:include="fragments/header :: headMeta" th:remove="tag"></th:block>
    <!--head content-->
    <th:block th:include="fragments/header :: head" th:remove="tag"></th:block>
</head>
<body id="page-top" class="index">
<!-- Navigation -->
<div th:include="fragments/header :: header" th:remove="tag"></div>
<!-- Header -->
<section>
    <div class="container" id="maincontent" tabindex="-1">
        <br>
        <div>
            <h3 th:if="${feeList==null || feeList.isEmpty()}">No online payments to show for now</h3>
        </div>
        <div class="row">
            <form id="payment-form" th:action="@{/u/payment/pay}" method="post">
                <th:block th:each="fee, stat:${feeList}">
                    <div class="col-sm-4 control-group">
                        <label th:text="${fee.feeName+' - '+fee.amount}"></label>
                        <input th:checked="${fee.feeName=='Registration'}"
                               th:disabled="${fee.feeName=='Registration'}"
                               type="checkbox" class="form-control feeCheckBox" th:value="${fee.id}" style="width: 10%">
                    </div>
                </th:block>
            </form>
        </div>
        <br>
        <div class="row">
            <div class="form-group col-xs-12" th:if="${feeList!=null && !feeList.isEmpty()}">
                <input class="btn btn-success btn-lg" value="Proceed" id="payment-submit" type="button"/>
            </div>
        </div>
    </div>
</section>
<!-- Footer -->
<div th:include="fragments/footer :: footer"></div>
</body>
</html>