    <!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <head>
        <div th:include="fragments/header :: headMeta" th:remove="tag"></div>
        <div th:include="fragments/header :: head" th:remove="tag"></div>
        <div th:include="fragments/header :: table" th:remove="tag"></div>
        <script>
            $(document).ready(function () {
                $('#registeredMembers').bootstrapTable({
                    exportOptions: {
                        fileName: $("#eventName").attr('class')
                    }
                });
            });
        </script>
    </head>

    <body id="page-top" class="index">
    <div id="skipnav"><a href="#maincontent">Skip to main content</a></div>

    <!-- Navigation -->
    <div th:include="fragments/header :: header"></div>
    <div class="container-fluid">
        <style rel="stylesheet">
            th{
                text-align: center;
            }
        </style>

        <section>
            <div class="container" id="maincontent" tabindex="2">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>MatchPoint->Registration list<br></h2>
                        <h4 id="eventName" th:class="${event.name}" th:text="'Event Name : '+${event.name}"></h4>
                        <br><div class="table-responsive">
                            <table id="registeredMembers" style="border-style: solid"
                                   data-toggle="table"
                                   data-show-export="true"
                                   data-show-columns="true"
                                   data-pagination="false" data-search="true"
                                   class="table table-hover table-bordered" th:if="${!eventRegistrations.isEmpty()}">
                                <thead>
                                <tr style="color:#c7254e">
                                    <th>S.NO</th>
                                    <th data-sortable="true">Name</th>
                                    <th>DOB</th>
                                    <th>KTTA Reg.No.</th>
                                    <th>Email</th>
                                    <th data-sortable="true">Mobile</th>
                                    <th>Playing Categories</th>
                                    <th>Payment Details</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr style="color: #122b40" th:each="eventReg,stat : ${eventRegistrations}">
                                    <td th:text="${stat.count}">1</td>
                                    <td th:text="${eventReg.getPlayerName()} "></td>
                                    <td th:text="${#dates.format(eventReg.userDob,'dd-MMM-yyyy')}"></td>
                                    <td th:text="${eventReg.kttaRegNum}"></td>
                                    <td th:text="${eventReg.getPlayerEmail()} "></td>
                                    <td th:text="${eventReg.getPlayerMobile()} "></td>
                                    <td>
                                        <span th:each="playingCategory,stat : ${eventReg.playingCategories}"
                                              th:text="${stat.first?playingCategory.name:', '+playingCategory.name}"></span>
                                    </td>
                                    <td th:text="${'Amount : Rs. '+ eventReg.eventPayment.amount+', Status : '+eventReg.eventPayment.paymentStatus} "></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    </body>
    </html>
