<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:include="fragments/header :: head">
    <meta charset="UTF-8" />
    <title>Event Registration</title>
    <link rel="stylesheet" href="css/registerForm.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/appScript.js"></script>
</head>
<body>
<div th:include="fragments/header :: header"></div>
<section id="registration" th:name="register">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 th:text="${eventRegistration.id!=0?'Update Registration':'Register to '+ event.name}"></h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                    <form th:object="${eventRegistration}" id="eventRegistration-form" action="/registerEvent" method="post" class="form-horizontal">
                        <input type="hidden" name="event" th:value="${event.id}">
                        <input type="hidden" name="eventRegistration" th:if="${eventRegistration.id!=0}" th:value="${eventRegistration.id}">
                        <th:block sec:authorize="authenticated">
                            <div class="row control-group">
                                <div class="form-group col-xs-12">
                                    <label for="playerName">Player Name
                                        <input name="playerName" th:readonly="${#strings.isEmpty(currentUser.firstName)}" th:value="${currentUser.firstName}" class="form-control" type="text"/>
                                    </label>
                                </div>
                            </div>
                            <div class="row control-group">
                                <div class="form-group col-xs-12">
                                    <label for="playerEmail">Player Email
                                        <input name="playerEmail" th:readonly="${#strings.isEmpty(currentUser.email)}" th:value="${currentUser.email}" class="form-control" type="text"/>
                                    </label>
                                </div>
                            </div>
                            <div class="row control-group">
                                <div class="form-group col-xs-12">
                                    <label for="playerMobile">Player Mobile
                                        <input name="playerMobile" th:readonly="${#strings.isEmpty(currentUser.mobile)}" required
                                               th:value="${currentUser.mobile}" class="form-control" type="text"/>
                                    </label>
                                </div>
                            </div>
                            <div class="row control-group">
                                <div class="form-group col-xs-12">
                                    <label for="userDob">User Dob
                                        <input name="userDob" th:readonly="${#strings.isEmpty(currentUser.dob)}" required
                                               th:value="${#dates.format(currentUser.dob,'dd-MM-yyyy')}" class="form-control" type="text"/>
                                    </label>
                                </div>
                            </div>
                        </th:block>

                        <th:block sec:authorize="anonymous">
                            <div class="row control-group">
                                <div class="form-group col-xs-12">
                                    <label for="playerName">Player Name
                                        <input name="playerName" required class="form-control" type="text"/>
                                    </label>
                                </div>
                            </div>
                            <div class="row control-group">
                                <div class="form-group col-xs-12">
                                    <label for="playerEmail">Player Email
                                        <input name="playerName" required class="form-control" type="text"/>
                                    </label>
                                </div>
                            </div>
                            <div class="row control-group">
                                <div class="form-group col-xs-12">
                                    <label for="playerMobile">Player Mobile
                                        <input name="playerMobile" required class="form-control" type="text"/>
                                    </label>
                                </div>
                            </div>
                            <div class="row control-group">
                                <div class="form-group col-xs-12">
                                    <label for="userDob">User Dob
                                        <input name="userDob" th:required="${event.eventType==T(com.matchpoint.enums.EventTypesEnum).OPEN.getEventType()}"
                                               class="form-control datepicker" type="text"/>
                                    </label>
                                </div>
                            </div>
                        </th:block>

                        <h4 style="color: darkcyan">Please Choose the Categories</h4>
                        <div class="row control-group">
                            <div class="col-sm-4" th:each="playingCategory, stat : ${playingCategories}">
                                <label th:text="${playingCategory.name +' Registration fee: ₹'+playingCategory.fee}">Choose playing categories</label>
                                <input type="checkbox" class="eventRegistration-playing-category"
                                       th:attr="data-fee=${playingCategory.fee}" th:value="${playingCategory.id}">
                                <!--<input type="hidden" th:name="${'playingCategories['+__${stat.index}__+'].name'}"
                                       th:value="${playingCategory.name}">
                                <input type="hidden" th:name="${'playingCategories['+__${stat.index}__+'].fee'}"
                                       th:value="${playingCategory.fee}">-->
                                <hr>
                            </div>
                        </div>
                        <!--<div class="row">
                                <div class="col-sm-1" >
                                    <label for="nms">NMS</label>
                                    &lt;!&ndash;<input id=nms2 type="hidden" value="0" name="nms">&ndash;&gt;
                                    <input id="nms" name="nms" class="category form-control"
                                           th:checked="${eventRegistration.nms}" type="checkbox"/>
                                </div>
                                <div  class="col-sm-1" >
                                    <label for="nmd">NMD</label>
                                    <input name="nmd" class="category form-control"
                                           th:checked="${eventRegistration.nmd} ? 'checked'" type="checkbox"/>
                                </div>
                                <div class="col-sm-1" >
                                    <label for="ms">MS</label>
                                    <input name="ms" class="category form-control"
                                           th:checked="${eventRegistration.ms}? 'checked'" type="checkbox"/>
                                </div>
                                <div class="col-sm-1" >
                                    <label for="ws">WS</label>
                                    <input name="ws" class="category form-control"
                                           th:checked="${eventRegistration.ws}? 'checked'" type="checkbox"/>
                                </div>
                            <div class="col-sm-1" >
                                <label  for="mcb">MCB</label>
                                <input name="mcb" class="category form-control" th:checked="${eventRegistration.mcb}"
                                       type="checkbox"/>
                            </div>
                            </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-1" >
                                <label  for="mcg">MCG</label>
                                <input name="mcg" class="category form-control" th:checked="${eventRegistration.mcg}"
                                       type="checkbox"/>
                            </div>
                            <div class="col-sm-1" >
                                <label for="cb">CB</label>
                                <input name="cb" class="category form-control" th:checked="${eventRegistration.cb}"
                                       type="checkbox"/>
                            </div>
                            <div class="col-sm-1" >
                                <label for="cg">CG</label>
                                <input name="cg" class="category form-control" th:checked="${eventRegistration.cg}"
                                       type="checkbox"/>
                            </div>
                            <div class="col-sm-1" >
                                <label for="sjb">SJB</label>
                                <input name="sjb" class="category form-control" th:checked="${eventRegistration.sjb}"
                                       type="checkbox"/>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-1" >
                                <label for="sjg">SJG</label>
                                <input name="sjg" class="category form-control" th:checked="${eventRegistration.sjg}"
                                       type="checkbox"/>
                            </div>
                            <div class="col-sm-1" >
                                <label for="jb">JB</label>
                                <input name="jb" class="category form-control" th:checked="${eventRegistration.jb}"
                                       type="checkbox"/>
                            </div>
                            <div class="col-sm-1" >
                                <label for="jg">JG</label>
                                <input name="jg" class="category form-control" th:checked="${eventRegistration.jg}"
                                       type="checkbox"/>
                            </div>
                            <div class="col-sm-1" >
                                <label for="yb">YB</label>
                                <input name="yb" class="category form-control" th:checked="${eventRegistration.yb}"
                                       type="checkbox"/>
                                </div>
                            <div class="col-sm-1" >
                                <label for="yg">YG</label>
                                <input name="yg" class="category form-control" th:checked="${eventRegistration.yg}"
                                       type="checkbox"/>
                            </div>
                        </div>-->
                        <h4 style="color: darkcyan" id="total-event-reg-fee">Total : ₹ 0.00</h4>
                        <hr>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <input th:value="${eventRegistration.id!=0?'Update':'Register'}" id="register-event-submit" type="button" class="btn btn-success btn-lg"/>
                            </div>
                        </div>
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    </form>
                </div>
            </div>
        </div>

</section>
<script type="text/javascript">
  /*  $(document).ready(function () {

        $('.category').click(function () {
            if(!$(this).is(':checked')){
                $(this).val("off");
                console.log($(this).val())
            }
        })
    })*/

    $(document).ready(function () {

        $("form").submit(function () {

            var this_master = $(this);

            this_master.find('input[type="checkbox"]').each( function () {
                var checkbox_this = $(this);


                if( checkbox_this.is(":checked") == true ) {
                    checkbox_this.attr('value','1');
                } else {
                    checkbox_this.prop('checked',true);
                    //DONT' ITS JUST CHECK THE CHECKBOX TO SUBMIT FORM DATA
                    checkbox_this.attr('value','0');
                }
            })
        })
    })




</script>
</body>
</html>