<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:include="fragments/header :: head">
    <meta charset="UTF-8" />
    <title>Register to Matchpoint</title>
    <link rel="stylesheet" href="css/registerForm.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div th:include="fragments/header :: header"></div>
    <br>
    <!-- Contact Section -->
    <section id="memberSignup">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Member Registration</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <form th:object="${user}" action="/register" method="post"
                          id="signupForm" novalidate>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="firstName">FirstName</label>
                                <input type="text" name="firstName" class="form-control" placeholder="FirstName" id="firstName"
                                       required data-validation-required-message="Please enter your name.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="lastName">LastName</label>
                                <input rows="5" class="form-control" name="lastName"
                                       placeholder="LastName" id="lastName"
                                       required data-validation-required-message="Please enter a LastName.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="email">Email Address</label>
                                <input type="email" name="email" class="form-control" placeholder="Email Address" id="email"
                                       required data-validation-required-message="Please enter your email address.">
                                <p class="help-block text-danger"></p>
                                <p hidden th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="phone">Phone Number</label>
                                <input type="tel" name="mobile" class="form-control"
                                       placeholder="Phone Number" id="phone"
                                       required data-validation-required-message="Please enter your phone number.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" name="password"
                                       placeholder="Password" id="password"
                                       required data-validation-required-message="Please enter a Password.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="dob">Date of Birth</label>
                                <input class="form-control datepicker" placeholder="dob"
                                      name="dob" id="dob" required data-validation-required-message="Please enter a dob.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <input type="submit" value="Submit" class="btn btn-success btn-lg">
                            </div>
                        </div>
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>